* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans serif';
    color: #d0d6da;
}
body, html {
    background: #22272A;
}
#calculator {
    background: #d0d6da;
    position: relative;
    margin: 60px auto;
    width: 320px;
    border-radius: 5px;
    box-shadow: 2px 2px 50px 1px black, -2px -2px 50px 0px black;
}
h1 {
    text-align: center;
    padding: 20px;
    font-size: 2em;
    color: #22272A;
}
p {
    text-align: right;
    padding: 20px;
    color: #22272A;
}
.row {
    display: flex;
    flex-direction: row;
    background: #d0d6da;
    justify-content: space-between;
    padding: .5px 0;
}
.botRow {
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 25%;
}
input[type="button"] { 
    /* border: none; */
    background: #22272A;
    width: 25%;
    height: 65px;
    font-size: 1.2em;
    transition: .5s;
}
input[type="button"]:hover {
    background: #2b3135;
}
input[type="button"]:active {
    background: #3b3b3b;
}
input[type="submit"] { 
    border: none; 
    background: #16a085;
    color: #22272A;
    width: 50%;
    /* margin: .5px; */
    height: 65px;
    font-size: 1.2em;
    transition: .5s;
    border-bottom-left-radius: 5px;
}
input[type="submit"]:hover {
    background: #1abc9c;
}
input[type="submit"]:active {
    background: #89b9b0;
}
input[type="text"] {
    border: none;
    padding: 20px;
    width: 100%;
    background: none;
    color: #22272A;
    text-align: right;
    font-size: 1em;
}
.noBorder {
    border: none!important;
}
.border {
    border-right: 0.3px solid #d0d6da!important;
    border-top: none;
    border-left: none;
    border-bottom: none;
}
#clear {
    background: #c0392b;
    border-bottom-right-radius: 5px;
}
#clear:hover {
    background: #e74c3c;
}
#clear:active {
    background: #da8278;
}
.lighterBtn {
    background: #2c3e50!important;
}
.lighterBtn:hover {
    background: #34495e!important;
}
.lighterBtn:active {
    background: #565d64!important;
}
input:focus {
    outline: none;
}